.markdown {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.left_markdown {
  padding-bottom: 10px;
  width: 66%;
}

.markdown h2 {
  font-size: 24px;
  font-weight: 700;
  width: 100%;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid #eee;
  margin: 10px 0px;
}

.left_markdown pre {
  padding: 16px;
  background: #f7f7f7;
  border: 1px solid #333;
}

.right_markdown {
  width: 34%;
  margin-left: 20px;
}
.markdown_Maintainers h2 {
  padding-left: 20px;
  color: #05c;
}
